<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

   


 <div class="main">
     <form action="/course_post" method="POST">
         <label for="name">Name</label>
         <input type="text" id="name" name="name">
         
         <label for="course_code">Course Code</label>
         <input type="text" id="course_code" name="course_code">
         
         <label for="description">Description</label>
         <input type="text" id="description" name="description">

         <label for="difficult_level">Dificulty Level</label>
         <input type="text" id="difficult_level" name="difficult_level">
         

       
         <button type="submit">submit</button>
     </form>
   
 </div>
</body>
</html>
