<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        
     
        <h2>You are suggested to do 
            <a href="http://localhost:4000/<%= suggest[0]%>" >
            <%= suggest[0]%></a>  </h2>
        
       <h2><%= student.s_name%></h2>

        
 </ul>
    
</body>
</html>