<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

   


 <div class="main">
     <form action="/form_post" method="POST">
         <label for="name">Name</label>
         <input type="text" id="name" name="s_name">
         
         <label for="id">ID</label>
         <input type="text" id="id" name="student_id">
         
         <label for="password">Password</label>
         <input type="text" id="password" name="password">
         

         <div class="checks">
            <label for="eng091">eng091</label>
            <input type="checkbox" id="eng091" name="courses" value="eng091">
            <label for="cse111">cse111</label>
            <input type="checkbox" id="cse111" name="courses" value="cse111">
           
            <label for="cse110">cse110</label>
            <input type="checkbox" id="cse110" name="courses" value="cse110">
         </div>
         <button type="submit">submit</button>
     </form>
   
 </div>
</body>
</html>