
body{
    
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif; 
    
}


form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 300px;
    border-radius: 1.2rem;
    background-color:#92a8c5;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background: rgb(2,0,36);
    background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(39,79,110,1) 80%, rgba(0,212,255,1) 100%); */
    background-image: linear-gradient(to right top, #012459, #00528c, #0084b5, #00b7d1, #12ebe1);
    
}

.checks{
    height: 100px;
    padding: 50px;
}